body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
  }

  .clear{
    clear: left;
  }
 .card{
     float: left;
     text-align: center;
     width: 7cm;
     background-color: white;
     margin-right: 20px;
     margin-top: 20px;
  }

  .menu{
    padding-bottom:80px;
    padding-left: 8%;
    padding-right: 5%;
    
  }